memory 600 mb

molecule {{
{molecule_data}
}}

set basis {params[basis]}
set reference {params[reference]}
set DFT_SPHERICAL_POINTS {params[spherical_points]}
set DFT_RADIAL_POINTS {params[radial_points]}
energy('scf', dft_functional = '{dft}')

